.achievements {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @grey;
  border-top: 114px solid @grey;
}

.achievements__legend {
  margin: 0 auto;
  margin-bottom: 40px;
}

.achievements__list {
  .list-mixin();
  margin: 0 auto;
  width: 280px;
}

.achievements__item {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  min-height: 37px;

  text-align: left;
}

.achievements__label {
  position: relative;

  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;
  text-align: right;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    border: 2px solid @grey-darker;
    width: 37px;
    height: 37px;
  }

  &:hover::before {
    border-color: @black;
  }

  &:active::before {
    border-color: @red;
  }

  &:focus::before {
    outline-color: @red;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
}

.achievements__checkbox:checked ~ .achievements__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


@media (min-width: @tablet) {
  .achievements {
    border-top: 2px solid @grey-darker;
    padding: 0;
    padding-left: 60px;
    padding-bottom: 5px;
    background-color: @white;
  }

  .achievements__legend {
    margin-bottom: 44px;
    width: 500px;
  }

  .achievements__list {
    margin: 0;
  }

  .achievements__label {
    padding-left: 57px;
  }
}

@media (min-width: @desktop) {
  .achievements {
    padding-bottom: 10px;
  }

  .achievements__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
  }

  .achievements__item {
    &--1 {
      order: 1;
      width: 315px;
    }

    &--2 {
      order: 4;
      width: 315px;
    }

    &--3 {
      order: 2;
      width: 290px;
    }

    &--4 {
      order: 5;
      width: 290px;
    }

    &--5 {
      order: 3;
      width: 215px;
    }

    &--6 {
      order: 6;
      width: 215px;
    }
  }
}
