.advantages {
  background-color: @grey;
}

.advantages__title-wrapper {
  position: relative;

  padding-top: 45px;
  padding-bottom: 60px;
  background-color: @white;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;

    border-width: 16px 160px;
    border-style: solid;
    border-color: @white;
    border-right-color: @grey;
    border-bottom-color: @grey;
  }
}

.advantages__title {
  margin: 0 auto;
  width: 230px;

  color: @black;
}

.advantages__title-question,
.advantages__title-offer {
  display: block;
  margin-bottom: 35px;
}

