.advantages {
  background-color: @grey;
}

.advantages__title-wrapper {
  position: relative;

  padding-top: 45px;
  padding-bottom: 20px;
  background-color: @white;
}

.advantages__title {
  margin: 0 auto;
  width: 230px;

  color: @black;
}

.advantages__title-question,
.advantages__title-offer {
  display: block;
  margin-bottom: 35px;
}

.advantages__triangle-wrapper {
  background-color: @white;
}

.advantages__triangle {
  display: block;
  width: 100%;
  height: auto;

  fill: @grey;
}

