.contest {
  padding: 0 20px;
}

.contest__title {
  margin: 0 auto;
  padding: 50px 0;
  width: 280px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.contest__appeal {
  display: none;
}

@media (min-width: @tablet) {
  .contest__appeal {
    display: block;
  }
}
