.contact {
  padding-top: 50px;
}

.contact__title {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 240px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @black-blue;
}

.contact__message {
  font-size: 18px;
  font-weight: 700;
}

.contact__data {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 260px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @red;
}

@media (min-width: @tablet) {
  .contact__title {
    margin-bottom: 55px;
    width: 500px;
    font-size: 40px;
    line-height: 50px;
  }

  .contact__kinds {
    display: flex;
    flex-wrap: wrap;
  }

  .contact__kind {
    margin-bottom: 55px;
    width: 50%;

    &:last-of-type {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

@media (min-width: @desktop) {
  .contact__kinds {
    padding-left: 180px;
    padding-right: 180px;
  }

  .contact__kind {
    margin-bottom: 0;
    width: 33%;

    &:nth-child(2) {
      order: 3;
    }

    &:last-of-type {
      width: 33%;
      order: 2;
    }
  }
}
