.download {
  padding-top: 27px;
  min-height: 270px;
  background-color: @black-blue-dark;
}

.download__title {
  margin: 0;
}

.download__systems {
  margin: 0 auto;
  margin-bottom: 12px;
}

.download__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 13px;

  &:hover {
    background-color: @white;
    color: @red;
  }

  &:active {
    background-color: @white;
    color: @red-transparent30;
  }
}

.download__desc {
  margin: 0 auto;
  width: 230px;
  color: @white;
  font-weight: 300;
}

@media (min-width: @tablet) {
  .download {
    position: absolute;
    z-index: 1;
    top: 375px;
    left: 20px;

    padding-top: 0;
    width: 300px;

    background-color: transparent;
  }

  .download__link {
    margin-bottom: 45px;
    width: 300px;
  }

  .download__systems {
    margin-bottom: 28px;
  }

  .download__desc {
    width: 300px;
    font-size: 18px;
  }
}

@media (min-width: @desktop) {
  .download {
    left: 130px;
    top: 450px;
  }

  .download__link {
    margin-bottom: 68px;
    font-size: 21px;
  }

  .download__systems {
    margin-bottom: 42px;
  }
}
