.emotions {
  margin-top: 22px;
  border-top: 54px solid @white;
  padding-bottom: 40px;
}

.emotions__legend {
  margin: 0 auto;
  width: 240px;

  color: @red;
  text-transform: uppercase;
  line-height: 18px;
}

.emotions__area {
  border: 2px solid @grey-darker;
  padding: 14px 20px;

  width: 280px;
  height: 200px;
  resize: none;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: @black-blue;
    opacity: 1;
  }

  &:hover {
    border-color: @black;
  }

  &:active {
    border-color: @red;
  }
}

@media (min-width: @tablet) {
  .emotions {
    border-top: 2px solid @grey-darker;
    padding-bottom: 45px;
  }

  .emotions__legend {
    margin-bottom: 39px;
  }

  .emotions__area {
    width: 500px;
    height: 190px;
  }
}

@media (min-width: @desktop) {
  .emotions {
    padding-bottom: 37px;
  }

  .emotions__area {
    width: 820px;
    height: 129px;
  }

  .emotions__legend {
    margin-bottom: 34px;
  }
}
