.features {
  padding-top: 55px;
}

.features__list {
  .list-mixin();
}

.features__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.features__desc {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
}

.features__img {
  display: block;
  margin: 0 auto;
}
