.fio {
  margin: 0 auto;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.fio__list {
  .list-mixin();
  margin: 0 auto;
  width: 280px;
}

.fio__legend {
  display: none;
}

.fio__item {
  margin-bottom: 28px;
}

.fio__label {
  display: block;
  margin-left: 20px;

  color: @red;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .fio {
    border: none;
    padding: 0;
    padding-bottom: 34px;
  }

  .fio__list {
    width: 620px;
  }

  .fio__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fio__label {
    margin-left: 0;
    margin-right: 20px;
  }

  .fio__input {
    flex-grow: 1;
  }
}

@media (min-width: @desktop) {
  .fio {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 0;
    width: 435px;
  }

  .fio__list {
    width: 100%;
  }

  .fio__item {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
