.page-header {
  position: relative;
  z-index: 1;
}

.page-header--closed {
  background-color: @black-transparent30;
  box-shadow: 0 1px @black;
}

.page-header--opened {
  background-color: @black-blue;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 70px;

  box-shadow:
    0 1px @white-transparent15,
    0 -1px @black;
}

.page-header__logo {
  fill: @white;

  &:hover {
    fill: @red;
  }

  &:active {
    fill: @white-transparent30;
  }
}

.page-header__logo--tablet,
.page-header__logo--desktop {
  display: none;
}

.page-header__toggle {
  padding: 0;
  border: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-header__toggle--opened {
  background-image: url("../img/icon-menu-cross.svg");

  &:hover {
    background-image: url("../img/icon-menu-cross-hover.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-cross-hover.svg");
    opacity: 0.3;
  }
}

.page-header__toggle--closed {
  background-image: url("../img/icon-menu-burger.svg");
  width: 55px;

  &:hover {
    background-image: url("../img/icon-menu-burger-hover.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-burger-hover.svg");
    opacity: 0.3;
  }
}

.page-header__toggle--nojs {
  display: none;
}

@media (min-width: @tablet) {
  .page-header__logo-wrapper {
    // padding-right: 60px;
    min-height: 110px;
  }

  .page-header__logo {
    margin-bottom: 8px;
    width: 146px;
    height: 40px;
  }

  .page-header__logo--tablet {
    display: block;
  }

  .page-header__logo--mobile {
    display: none;
  }
}

@media (min-width: @desktop) {
  .page-header {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    min-height: 107px;
    background-color: @black-transparent30;
  }

  .page-header__logo-wrapper {
    margin-right: 170px;
    padding: 0;
    box-shadow: none;
  }

  .page-header__logo--tablet {
    display: none;
  }

  .page-header__logo--desktop {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }
}
