.page-header {
  background-color: @black-blue;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 70px;

  box-shadow:
    0 1px @white-transparent15,
    0 -1px @black;
}
