.post {
  padding: 0 20px;
}

.post--big {
  padding: 0;
}

.post__image {
  display: block;
}

.post__wrapper {
  padding: 25px 18px;
  padding-bottom: 20px;

  background-color: @grey;
  text-align: left;
}

.post__wrapper--big {
  margin: 0 auto;
  width: 280px;
}

.post__text {
  margin: 0;
}

.post__author {
  font-weight: 700;
}

.post__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: @black-blue;
}

.post__desc {
  margin: 0;
  margin-bottom: 15px;
}

.post__likes-wrapper {
  display: flex;
  align-items: center;
}

.post__likes {
  margin: 0;

  color: @red;
  font-size: 12px;
  text-transform: uppercase;
}

.post__btn {
  margin-right: 20px;
  padding: 0;
  border: 0;
  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
