.promo {
  position: relative;

  padding-top: 30px;
  width: 100%;
  min-height: 400px;

  background-color: @black-blue-light;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

.promo__title {
  margin: 0 auto;
  width: 230px;
}

.promo--index {
  height: 185px;
}

.promo__image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo__image {
  display: block;
}

@media (min-width: @tablet) {
  .promo {
    padding-top: 100px;
    min-height: 618px;
  }

  .promo__title {
    margin: 0;
    margin-left: 60px;

    font-size: 40px;
    line-height: 60px;
  }

  .promo__image-wrapper {
    left: 26%;
  }
}

@media (min-width: @desktop) {
  .promo {
    margin-top: -107px;
    padding-top: 227px;
    min-height: 853px;
  }

  .promo__title {
    margin-left: 166px;
  }

  .promo__image-wrapper {
    left: 40%;
  }
}
