.promo {
  position: relative;

  margin-top: -70px;
  padding-top: 92px;
  width: 100%;
  min-height: 467px;

  background-color: @black-blue-light;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo--small {
  padding-top: 100px;
  min-height: 240px;
  background-position: center top;
}

.promo__title-index {
  margin: 0 auto;
  width: 230px;
}

.promo__title-photo {
  margin: 0 auto;
  width: 220px;
}

.promo__title-contest {
  margin: 0 auto;
  width: 250px;
}

.promo--index {
  height: 185px;
}

.promo__image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo__image {
  display: block;
}

@media (min-width: @tablet) {
  .promo {
    margin-top: -110px;
    padding-top: 200px;
    min-height: 728px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo--small {
    padding-top: 180px;
    min-height: 440px;
  }

  .promo__title-index {
    margin: 0;
    margin-left: 55px;

    font-size: 40px;
    line-height: 48px;
  }

  .promo__title-photo {
    width: 400px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__title-contest {
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__image-wrapper {
    left: 25%;
  }
}

@media (min-width: @desktop) {
  .promo {
    margin-top: -110px;
    padding-top: 218px;
    min-height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo--small {
    padding-top: 175px;
    min-height: 395px;
    background-position: center 0;
  }

  .promo__title-index {
    margin-left: 166px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__title-contest {
    width: 800px;
  }

  .promo__image-wrapper {
    left: 39%;
  }
}
