.rate {
  background-color: @grey;
}

.rate__table-wrapper {
  border-top: 2px solid @grey;
  padding-top: 70px;
  padding-bottom: 40px;
  width: 100%;
  overflow: hidden;
}

.rate__table {
  // margin-left: -540px;
  // width: 1120px;
  margin-left: -169%;
  width: 350%;
}

.rate__triangle-wrapper {
  background-color: @white;
  margin-bottom: -1px;
}

.rate__triangle {
  display: block;
  width: 100%;
  height: auto;

  fill: @grey;
}

.rate__pagination {
  padding-bottom: 47px;
}

@media (min-width: @tablet) {
  .rate__table-wrapper {
    padding-bottom: 70px;
  }

  .rate__table {
    margin: 0 auto;
    width: 640px;
  }

  .rate__pagination {
    display: none;
  }
}

@media (min-width: @desktop) {
  .rate__table-wrapper {
    padding-bottom: 100px;
  }

  .rate__table {
    width: 940px;
  }
}
