.review {
  position: relative;

  padding-top: 42px;
  padding-bottom: 40px;
}

.review__quotes {
  display: none;
}

@media (min-width: @tablet) {
  .review {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .review__pagination {
    order: 3;
  }
}

@media (min-width: @desktop) {
  .review {
    padding-top: 75px;
  }

  .review__quotes {
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .review__pagination {
    display: none;
  }
}
