.table {
  border-collapse: collapse;
  background-color: @white;
  table-layout: fixed;
}

.table__cell {
  border: 3px solid @grey-darker;
  padding: 14px;
  padding-left: 25px;
  padding-right: 20px;
  width: 25%;
  line-height: 30px;
}

.table__data-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__label-mobile {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}

.table__offer {
  padding: 16px;
  background-color: @black-blue;
  border-color: @grey;
  color: @white;
  text-transform: uppercase;

  &:not(:last-of-type) {
    border-right-color: @grey-darker;
  }
}

.table__tariff {
  font-weight: 700;
  font-size: 18px;
}

.table__hit {
  position: relative;
}

.table__hit-label {
  position: absolute;
  left: -3px;
  top: 0;
}

.table__hit-text {
  position: absolute;
  left: 2%;

  transform: rotate(-45deg);
}

.table__price {
  font-weight: 300;
  font-size: 24px;
}

.table__title {
  border: none;
  border-top: 3px solid @grey;
  background-color: @grey;
}

@media (min-width: @tablet) {
  .table__hit-label {
    top: -6.5px;
    left: -10px;
    transform: scale(0.83);
  }

  .table__hit-text {
    top: 5px;
  }

  .table__label-mobile {
    display: none;
  }

  .table__cell {
    padding: 7px 15px;
  }

  .table__offer {
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .table__caption {
    text-align: left;
  }

  .table__tariff {
    font-size: 16px;
  }

  .table__price {
    font-size: 18px;
  }

  .table__data-wrapper {
    justify-content: center;
  }
}

@media (min-width: @desktop) {
  .table__tariff {
    font-size: 18px;
  }

  .table__price {
    font-size: 24px;
  }

  .table__cell {
    padding: 14px 20px;
  }

  .table__offer {
    padding: 16px;
  }

  .table__caption {
    font-size: 18px;
  }
}
