html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: @deafult-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: @black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
